/*
alinear banderas con los nombres de los paises
arreglar el p del texto de descripcion

*/


/* #grupo es el id de las tablas de los grupos */
.grupo, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 6.25%;
    vertical-align: middle;
}

.grupo {
    float: left;
    width: 49.7%;
    /*background-color: rgb(170, 31, 61);*/
    background-color: rgb(155, 60, 80);;
    color: rgb(235, 217, 217);
    margin-top: 10px;
}

caption {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

h3 {
    font-size: 160%;
    text-decoration-line:underline;
    text-decoration-style: solid;
    text-align: center;
}

/* descripciones es la clase del p de las descripciones de los paises */
.descripciones {
    float: none;
}

/* miembro es la clase de los nombres de los paises en las tablas */
.miembro {
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: baseline;
    width: 50%;
}

/* datos es la clase de los datos de las tablas */
.datos {
    text-align: right;
}

.banderita {
    vertical-align: middle;
    position: relative;
    bottom: 2px;
}

table a, table a:visited {
    text-decoration: none;
    color: rgb(235, 217, 217);
}


a:visited {
    text-decoration: none;
    color: black;
}

.p_repes {
    text-align: center;
}
  
  #toTop:hover {
    background-color: #555;
  }
