#div-izq {
    display: block;
    float: left;
    height: 100vh;
    width: 50%;
}

p {
    margin: 0;
}

#formu {
    display: inline-block;
    margin-left: 20%;
    margin-top: 50px;
    border: 1px solid black;
}

#confirmar {
    margin: auto;
}

#div-der {
    display: block;
    float: right;
    height: 100vh;
    width: 50%;
    margin: auto;
}

.divs-inputs {
    /*position: absolute;*/
    display: block;
    margin-left: auto;
    padding-top: 3px;
    padding-bottom: 3px;
}

.inputs, .inputs-label {
    display: inline-block;
    margin: auto;
}

#master, #visa {
    display: inline;
}

input {
    border: 1px solid black;
}

ul {
    color: red;
    text-transform: uppercase;
}

.partidos {
    display: none;
}