#div-izq {
    display: block;
    float: left;
    height: 100vh;
    width: 50%;
    background-color: aliceblue;
}

p {
    margin: 0;
}

#formu {
    display: inline-block;
    width: 400px;
    height: auto;
    margin-left: 20%;
    margin-top: 10px;
    border: 1px dashed black;
}

#confirmar {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    left: 150px;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
}

#div-der {
    display: block;
    float: right;
    height: 100vh;
    width: 50%;
    margin: auto;
    background-color: rgb(209 203 203);
}

.partidos div {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.divs-inputs {
    /*position: absolute;*/
    display: block;
    margin-left: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.inputs, .inputs-label {
    display: inline-block;
    margin: auto;
}

.inputs, .inputs-label, #formu p {
    padding-left: 5px;
}

#master, #visa {
    display: inline;
}

/*input {
    border: 1px solid black;
}*/

.inputs {
    border: 1px solid black;
}

ul {
    color: red;
    text-transform: uppercase;
}

.partidos {
    display: none;
    padding-left: 5px;
    padding-right: 5px;
}

.subrayado {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;
    text-decoration-thickness: 1.5px;
}

.error {
    border: 2px solid red;
}

.comprada {
    color: rgb(0 183 0);
}

#capt {
    position: relative;
    left: 26%;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}