
/* comun a todas las paginas */
body {
    /*background-color: aquamarine;*/
    /*background-color: rgb(161, 165, 212);*/
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

/*header {
    background-image: url(../img/mascota.png);
    height: 675px;
    padding: 0;
}*/

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

h1, h2 {
    text-align: center;
}

a {
    font-family: 'Rubik', sans-serif;
}

button a {
    text-decoration: none;
    color: white;
}

/* pertenecientes a la pag home */
.img-derecha {
    float: right;
    margin-left: 15px;
}

.img-izquierda {
    float: left;
    margin-right: 15px;
}

.ciudad img {
    width: 400px;
    height: 200px;
}

.ciudad {
    display: block;
    height: 200px;
}

.ciudad p {
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    font-weight: 600;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.ciudad h3 {
    padding-top: 0px;
    display: inline-block;
    font-size: 30px;
    padding: 0;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

#lusail h3, #doha h3, #jor h3 {
    margin-left: 30px;
}

#index_body hr {
    margin: 0;
}

/* pertenecientes a la pag participantes*/
.descripciones p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
}



/*estilos del boton toTop*/
#toTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(255, 0, 0, 0.822);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    /*font-size: 18px;*/
}

#toTop:hover {
    /*background-color: #555;*/
    background-color: rgb(119, 20, 41);
}
