#grupo, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

#grupo {
    float: left;
    width: 30%;
}

.espacio {
    float: left;
}

.miembro {
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: baseline;
}

.datos {
    text-align: right;
}
/*
.banderita {
    padding: auto;
}
*/