/*
alinear banderas con los nombres de los paises
arreglar el p del texto de descripcion

*/


/* #grupo es el id de las tablas de los grupos */
.grupo, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 6.25%;
    vertical-align: middle;
}

.grupo {
    float: left;
    width: 49.7%;
    /*background-color: rgb(170, 31, 61);*/
    background-color: rgb(155, 60, 80);;
    color: rgb(235, 217, 217);
}

caption {
    color: black;
    font-weight: bold;
}

/* descripciones es la clase del p de las descripciones de los paises */
.descripciones {
    float: none;
}

/* miembro es la clase de los nombres de los paises en las tablas */
.miembro {
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: baseline;
    width: 50%;
}

/* datos es la clase de los datos de las tablas */
.datos {
    text-align: right;
}

.banderita {
    vertical-align: middle;
}

table a {
    text-decoration: none;
    color: rgb(235, 217, 217);
}

/*estilos del boton toTop*/
#toTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(255, 0, 0, 0.822);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    /*font-size: 18px;*/
  }
  
  #toTop:hover {
    background-color: #555;
  }
